header {
    background-image: url("../images/the-flatiron-building.png");
    text-align: center;
}
html {
  font-family: helvetica;
  font-weight: bold;
}
nav {
    font-size: 18;
    font-weight: normal;

}
h1 {
  font-size: 70pt;
  color: white;
  text-align: center;
}
h2 {
  font-size: 23pt;
  color: white;
}
ul.nav {
    list-style: none;
    color: white;
    font-size: 18pt;
  }
footer {
    text-align: right;
    color: white;
}
